@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

*,
html {
  scroll-behavior: smooth !important;
}

body {
  background: #282b30;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.liquidImg img {
  border-radius: 50%;
  animation: liquid 8s linear infinite alternate;
}

.liquid {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: #72da8e;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  animation: liquid 8s linear infinite alternate;
}

.rec.rec-arrow {
  background: #72da8e;
}

.rec.rec-arrow:hover {
  background: #72da8e;
}

.rec.rec-arrow:hover:enabled {
  background: #72da8e;
}

.liquidImg {
  width: 350px;
  height: 350px;
  animation: liquid 8s linear infinite alternate;
  position: absolute;
}

@keyframes liquid {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}
